* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
  }
}

::selection {
  color: $white;

  background-color: $black;

  text-shadow: none;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem;

  font-weight: $font-weight-regular;
  font-size: $font-size-regular;
  font-family: $font-family-regular;

  background-image: url("/assets/images/background.jpg");
  background-position: center;
  background-size: cover;
}
