p {
  max-width: $content-max-width;

  margin: 1.5rem auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: $content-max-width;

  margin: 3rem auto;

  font-weight: $font-weight-heavy;
  font-size: $font-size-large;

  text-align: center;
}

h1,
h2 {
  margin: 12rem auto;

  font-size: $font-size-extra-large;
}

strong {
  font-weight: $font-weight-heavy;
}

blockquote {
  font-style: italic;

  text-align: right;
}
