.video-player {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: map-get($z-index, "video-player");

  display: none;

  background-color: rgba($black, .9);

  cursor: pointer;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.video-player--visible {
  display: flex;

  align-items: center;
  justify-content: center;
}

.video-player__content {
  width: 70%;
  height: 70%;
}
